.about {

    height: 100vh;
    background-color: black;
    perspective: 300px;
    perspective-origin: right;
    
}

::-webkit-scrollbar {

    width: 0px; 
    background: transparent;

}

.navAbout {

    position: fixed;
    width: 21%;
    height: 100vh;
    left: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(26, 26, 26);

}

.containerInf {

    position: absolute;
    left: 21%;
    height: 100vh;
    width: 79%;
    font-family: 'Open Sans', sans-serif;
    overflow: scroll;
    scroll-behavior: smooth;

}
  
.infoContent {

    position: absolute;
    left: 0;
    width: 40%;
    text-align: right;
    color: white;
    line-height: 20px;
   
}
  
.media {

    position: absolute;
    left: 40%;
    width: 60%;
    text-align: right;
    color: white;

}

.front {

    transform: translateZ(100px) scale(0.6666666667);
    z-index: 99;
    
}

.page.front {

    right: -18%;
    
}

.content .container{

    padding-left: 30px;
    padding-right: 0;

}

.page {

    position: relative;
    height: 100vh;

}

.containerC {
    padding-left: 30px;
    padding-right: 0;
}
 
.prevAb {

    position: fixed;
    z-index: 100;
    color: rgb(255, 123, 172);
    border: 1px solid rgb(255, 123, 172);
    right: 2px;
    cursor: pointer;

}

.prevAb :hover {

    color: white;

}

.navAbout ul{

    color: white;
    list-style-type: none;
    padding-right: 20px;

}

.headerNav {

    color: white;
    text-align: center;
    background-color: rgb(255, 123, 172);
    margin: 15% 7% 40% 7%;
    letter-spacing: 6px;
    padding-top: 4px;
    padding-bottom: 4px;

}

.navi-item {
    text-align: right;
    margin: 40px 20px 40px 0;
    cursor: pointer;
}
  
.Name {

    text-decoration: none;
    color: white;
    margin-bottom: 0;
    cursor: pointer;

}

.Name:hover {
    color:black;
}

.Name p {

    margin-top: 0;
    margin-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;

}
  
.navi-item:link {

    text-decoration: none;
    color: white;

}

.navi-item:visited {

    text-decoration: none !important;
    color: white;
    
}
  
.navi-item:hover {

    text-decoration: none;
    color: rgb(255, 123, 172);
    
}

p.text-center {

    margin-bottom: 0;

}

.logo {

    width: 100px;
    height: 100px;
    position: absolute;
    top: 11%;
    left: 8%;
    background-image: url("../../assets/logoPink.png");
    background-size: contain;
    background-repeat: no-repeat;

}

.sectionHeader {

    font-size: 1.7rem;
    margin-bottom: -5px;

}

.WhoI {

    font-size: 0.8em;
    position: relative;
    top: 39%;

}

.ProFor {
    
    color: rgb(220, 76, 70);
    font-size: 0.8em;
    font-weight:  500;
    position: relative;
    top: 30%;

}

.pinkFont {

    color:rgb(255, 123, 172);

}

.skills {

    font-size: 0.8em;
    position: relative;
    top: 33%;

}

.contactMe {

    position: absolute;
    top: 30%;

}

.personalInfo {

    color: rgb(220, 76, 70);
    top:5px;

}

.aFallsW {

    width: 410px;
    height: 422.4px;
    background-image: url('../../assets/angelFalls.png');
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -40%)

}

#aFallsCap {

    position: absolute;
    top: 90%;
    right: 10%;

}

.aFallsW:hover {

    width: 405px;
    background-position: 407px;

}

.ams {

    line-height: 90%;
    font-weight: 600;
    font-size: 13rem;
    position: absolute;
    top: 50%;
    right: 10%;

}

.red {
    color: red;
}

.plane {

    position: absolute;
    right: 11%;
    bottom: 33%;

}

.tablet {
    
    position: absolute;
    top: 25%;
    right: 50%;

}

.mask {

    position: absolute;
    top: 45%;
    right: 18%;

}

.down {

    position: absolute;
    bottom: 14%;
    left: -18%;

}

.cForm {

    position: absolute;
    top: 45%;
    left:20%;

}
  
@media (max-width:1130px) {

    .aFallsW {
       
        transform: translate(-50%, -40%) scale(0.7)
    
    }
    
    #aFallsCap {
     
        top: 83%;
        right: 10%;
    
    }

    .ams {

        font-size: 8rem;
    
    }
    
    .plane {

        right: 0;
        transform: scale(0.8)
    
    }

    .tablet {
    
        transform: scale(0.7);
        right: 30%;
    
    }
    
    .mask {
        
        transform: scale(0.7);
        right: 8%;
    
    }
    
    .cForm {

        position: absolute;
        transform: scale(0.8);
        left:0;

    }

}

@media (max-width:870px) {

    .about {

        perspective: none;
      
    }
  
    .navAbout {

        position: fixed;
        top: 0;
        width: 100%;
        height: 30px;
        z-index: 5;

    }
  
    .headerNav {

        margin: 0;
        padding-top: 4px;
        padding-bottom: 4px;

    }
  
    .navAbout ul{
        
        display: none;

    }

  
    .containerInf {

        position: relative;
        height:100vh;
        width: 100vw;
        left: 0;
        right: 0;
        top: 0;
        z-index: 1;

    }
  
    .infoContent {

        position: absolute;
        left: 0;
        right: 0;
        width: 100vw;
        text-align: center;

    }

    .containerC {

        padding-left: 30px;
        padding-right: 30px;

    }
     
    .logo {

        width: 100px;
        height: 100px;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);

    }
  
    .media {

        position: absolute;
        left: 0;
        right: 0;
        width: 100vw;
        height: 420%;
        text-align: center;

    }

    .front {
        
        left: 50%;
        transform: translateX(-50%) scale(0.6666666667);
        
    }
  
    .aFallsW {

        display: none;

    }
  
  
    .WhoI {

        font-size: 0.7em;
        position: relative;
        top: 40%;
        z-index: 5;

    }
  
    .ProFor {

        color: rgb(220, 76, 70);
        font-size: 0.65em;
        font-weight:  bold;
        position: relative;
        top: 35%;

    }
  
    .skills {

        font-size: 0.7em;
        line-height: 12px;
        position: relative;
        top: 63%;

    }

    .contactMe {

        font-size: 0.6em;
        position: relative;
        top: 12%;

    }

    .br {

        display: none;
    
    }
  
    .personalInfo {

        text-align: center;

    }

    #contact {

        display: block;

    }
  
    #aFallsCap {

        display: none;

    }
  
    .ams {

        line-height: 0.8;
        font-size: 6rem;
        position: absolute;
        left: 0;

    }
  
    .plane {

        position: absolute;
        left: 20%;

    }

    .Iamsterdam {

        position: absolute;
        width: 350px;
        height: 450px;
        top: -30%;
        left: 20%;

    }

    .tablet {

        display: none;
    
    }
  
    .mask {


        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
  
  
  
    .cForm {
        
        left: 50%;
        transform: translateX(-50%) scale(1.2);
        top: 85%;
        z-index: 100;

    }
  
         
    .contactHeader {

        font-size: 3.5em;
        text-align: center;
        
    }
  
    .prevAb {

        color: white;
        width: 40px;
        text-align: center;
       
    }

    .prevAb:hover {
        color: black;
        
    }

  
}